

    <!-- Include the homepage partial -->
    <%- include ('partials/homepage.ejs') %> <!-- Correct path to the homepage partial -->
    <div class="box">
        <div class="container">
            <h1>WELCOME TO TODO</h1>
            <button class="signup-btn" onclick="window.location.href='/login'">login</button>
            <p> if ur new then sigin</p>
            <button class="signup-btn" onclick="window.location.href='/signin'">sign in</button>
            
        </div>
        
    </div>


